.navbar {
    width: 100%;
    z-index: 2;
}

.navbar_color {
    background-color: #3A546D;
}

.white-line {
    background-color: white;
    width: 60px;
    height: 3px;
}

.dark-line {
    background-color: black;
    width: 60px;
    height: 3px;
}

.navbar_color_dark {
background-color: #2C3E50;
}

.green {
    background-color: #1ABC9C;
}

.hero {
    width: 150px;
}

.card img {
    width: 100%;
}


.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='grey' class='bi bi-list' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.start-bootstrap {
    padding-top: 8rem;
}

.cards{
    width: 100%;
    position: relative;
}

.card {
    width: 100%;
}


.bi-plus {
    position: absolute;
    font-size: 5rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
}
.cards:hover .bi-plus {
    opacity: 1;
    border-radius: 20px;
    border-color: #1ABC9C;
}

.card:hover {
    opacity: 0.5;
    background: green;
    transition: color s ease;
}

.start-bt {
    color: #1ABC9C;
}